.add-task-form {
	margin: 1em auto;
}

.task-list {
	// margin: 1em auto;
}

.fa-times {
	color: red;
	&:hover{
		color: darken(red, 10%);
	}
}

.fa-check {
	color: green;
	&:hover{
		color: lighten(green, 10%);
	}
}

.strike-through {
	text-decoration: line-through;
}