.add-task-form {
  margin: 1em auto;
  margin-top: 5em; }

.fa-times {
  color: red; }
  .fa-times:hover {
    color: #cc0000; }

.fa-check {
  color: green; }
  .fa-check:hover {
    color: #00b300; }

.strike-through {
  text-decoration: line-through; }
